<div>
    <h1>Approved lessons by Administrator</h1>
    <table class="table table-bordered card-body">
        <thead class="p-5">
        <tr>
            <th>Start date</th>
            <th>day of the week</th>
            <th>Duration</th>
            <th>Interval</th>
            <th>Teacher</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for lesson in lessonsdata %}
            <tr>
                <th>{{ lesson.start_date }}</th>
                <th>{{ lesson.day_of_the_week }}</th>
                <th>{{ lesson.duration }}</th>
                <th>{{ lesson.interval }}</th>
                <th>{{ lesson.teacher }}</th>
                <th>${{ lesson.price }}</th>
            </tr>
        {% empty %}
            No lessons approved yet
        {% endfor %}
        </tbody>
    </table>


</div>