{% extends "base.html" %}
{% block title %}
    <title>Invoice</title>
{% endblock title %}

<h1>Your lesson request is approved!</h1>
{% block content %}
    <div class = "mt-5">
        <h2>Invoice</h2>
        <p>Invoice number is: {{ invoice.invoice_num }}</p>
        <p>Invoice unique reference number is: {{ invoice.student_ref_num }}-{{ invoice.invoice_num }}</p>
        <p>Total paid by student in total lessons ${{ invoice.total_balance }}</p>
        <p>Remaining balance: ${{ invoice.remaining_balance }}</p>
        <p>Contact administrator if you wish to change bookings!</p>
    </div>

    {% include 'Dashboards/DashboardParts/Tables/transactions_table.html' %}

    <a class="btn btn-primary" href ={% url 'dashboard' %}>Dashboard</a>


{% endblock content %}
