<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <title>Music School Management System</title>
    </head>

    <body>
        {% if {{lesson.approve_status}} == False %}
            <h1  style="text-align:center">Make a request for lessons</h1>
            <form action="{% url 'make_request' %}" method="post">
                {% csrf_token %}
                {{ RequestForm.as_p }}
                <input type="submit" value="Make a request">
            </form>
            {%  include "partials/messages.html" %}
        {% else %}
            <h1  style="text-align:center">Your lesson request is approved!</h1>
            <form action="{% url 'approved_booking' %}" method="post">
                {% csrf_token %}
                {{ ApprovedBookingForm.as_p }}
            </form>
            <h2  style="text-align:center">Invoice</h2>
            <p>Invoice number is: {{lesson.invoice_num}}</p>
            <p>Invoice unique reference number is: {{lesson.invoice_num}}-{{student_ref_num}}</p>
            <p>Total price is: {{lesson.total_price}}</p>
            <p>Contact administrator if you wish to change bookings!<p>
        {% endif %}
    </body>
</html>