{% extends 'base.html' %}

{% block title %}
    <title>Make payment</title>
{% endblock title %}

{% block content %}
    <form class="mt-5" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="lesson_id" value={{ lesson_id }}>
        <input type="hidden" name="making_payment" value="True">

        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Make payment">
        <a class = "btn btn-primary" href={% url 'dashboard' %}>Dashboard</a>
    </form>


{% endblock content %}