<div>
    <h1>Your requested lessons</h1>
    <table class="table table-bordered card-body">
        <thead class="p-5">
        <tr>
            <th>Availability</th>
            <th>Number of lessons</th>
            <th>Duration</th>
            <th>Interval</th>
            <th>Further info</th>
            <th>Approved status</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for lesson in lessonsdata %}
            <tr>
                <th>{{ lesson.availability }}</th>
                <th>{{ lesson.lesson_numbers}}</th>
                <th>{{ lesson.duration }}</th>
                <th>{{ lesson.interval }}</th>
                <th>{{ lesson.further_info }}</th>
                {% include 'Dashboards/DashboardParts/is_approved_output.html' %}
                {% if lesson.approve_status == False %}
                <td> <a href="{% url 'edit_unapproved_lessons' lesson.id %}"> Edit</a> </td>
                <td> <a href="{% url 'delete_request' lesson.id %}"> Delete</a> </td> <!--Change parameters passed to actual lesson key when implemented-->
                {% endif %}
            </tr>
        {% empty %}
            You do not have any requested lessons
        {% endfor %}
        </tbody>
    </table>


</div>