<div>
    <h1>Your requested lessons</h1>
    <table class="table table-bordered card-body">
        <thead class="p-5">
        <tr>
            <th>Lesson</th>
            <th>Duration (minutes)</th>
            <th>Lesson</th>
            <th>Price (Base rate:$15/hr)</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for lesson in lessonsdata %}
            <tr>
                <th>{{ lesson.further_info }}</th>
                <th>{{ lesson.duration }}</th>
                <th>{{ lesson.further_info }}</th>
                <th>${{ lesson.price }}</th>
                <th>{{ lesson.status_string }}</th>
            </tr>
        {% empty %}
            You do not have any requested lessons
        {% endfor %}
        </tbody>
    </table>


</div>