{% extends "Dashboards/administrator_dashboard.html" %}

{% block content %}
    <div class = "m-5">
        <table class="table table-bordered card-body">
            <thead class="p-5">
            <tr>
                <th> Student</th>
                <th> Availability</th>
                <th> Lesson numbers</th>
                <th> Duration</th>
                <th> Interval</th>
                <th> Further Information</th>
                <th> Approve Status</th>
            </tr>
            </thead>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.student }}</td>
                    <td>{{ lesson.availability }}</td>
                    <td>{{ lesson.total_lessons_count }}</td>
                    <td>{{ lesson.duration }}</td>
                    <td>{{ lesson.interval }}</td>
                    <td>{{ lesson.further_info }}</td>
                    {% include 'partials/is_approved_output.html' %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a class = "btn btn-secondary m-1" href={% url 'dashboard' %}>Back to dashboard</a>
    </div>


{% endblock %}