<!DOCTYPE html>
<html lang="en">
<head>
    <title>Appoved requests list</title>
    <meta charset="UTF-8">
</head>

<body>
    <table class="student_requests_list">
        <thead>
            <th>availability</th>
            <th>number of lessons</th>
            <th>duration</th>
            <th>interval</th>
            <th>further information</th>
        </thead>

        <tr>
            <td>{{lessons.availability}}</td>
            <td>{{lessons.lesson_numberes}}</td>
            <td>{{lessons.duration}}</td>
            <td>{{lessons.interval}}</td>
            <td>{{further_info}}</td>
        </tr>
    </table>
</body>

</html>