{% extends "Dashboards/administrator_dashboard.html" %}

{% block content %}
    <div>
        <h1 class="my-3">Lesson requests of {{ student.first_name }} {{ student.last_name }}</h1>
        <table class="table table-bordered card-body">
            <thead class="p-5">
            <tr>
                <th>Student</th>
                <th>Availability</th>
                <th>Lesson numbers</th>
                <th>Duration</th>
                <th>Interval</th>
                <th>Further Information</th>
                <th>Approve Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.student }}</td>
                    <td>{{ lesson.availability }}</td>
                    <td>{{ lesson.total_lessons_count }}</td>
                    <td>{{ lesson.duration }}</td>
                    <td>{{ lesson.interval }}</td>
                    <td>{{ lesson.further_info }}</td>
                    {% include 'partials/is_approved_output.html' %}
                    {% if lesson.approve_status == False %}
                        <th><form method="post" action='{% url 'fill_in_approve_request' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="lesson_request" value={{ lesson.id }} />
                            <input type="hidden" name="student" value={{ lesson.student.id }} />
                            <input class = "btn btn-primary" type="submit" value="Approve" />
                        </form></th>

                        <td>
                        <form method="post" action='{% url 'view_transactions_specific_student' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="lesson_id" value={{ lesson.id }} />
                            <input type="hidden" name="student" value={{ lesson.student }} />
                            <input class = "btn btn-primary" type="submit" value="View invoices and transactions" />
                        </form>
                        </td>

                        <form action = '{% url 'view_transactions_specific_student' %}' method = "post">
                               {% csrf_token %}
                            <input type="hidden" name="lesson_id" value={{ lesson.id }} />
                            <input class = "btn btn-primary" type="submit" value="View transactions" />
                        </form>


                    {% else %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a class = "btn btn-secondary m-1" href={% url 'dashboard' %}>Back to dashboard</a>
    </div>


{% endblock %}