<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AdminDashboard</title>
</head>
<div>

    <form action="{% url 'get_requests' % }" method="get">
        <label>Enter students email to see their requested lessons: </label>
        <input id="student_email" type="text" name="student_email">
        <input type="submit" value= "View students lessons">
        <!--Add in function of having table rows to show the students lessons-->
        <table class="table">
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.further_info }}</td>
                </tr>
            {% endfor %}
        </table>
    </form>

</div>

<body>
    <p>Hello, {{ user.first_name }} {{ user.last_name }}</p>
    <button type="button"><a href = {% url 'log_out' %}>Log out</a></button>
</body>

</html>