{% extends 'Dashboards/../base.html' %}

{% block content %}
    {% include 'partials/greeting_content.html' %}

    {% include 'Dashboards/DashboardParts/student_search_form.html' %}

    <div class="col-sm-9 card">
        {% include 'Dashboards/DashboardParts/approved_lessons_table_admin.html' %}
    </div>
    
    <div class="col-sm-9 card">
        {% include 'Dashboards/DashboardParts/request_lessons_admin.html' %}
    </div>

    <a class = "btn btn-secondary m-3" href={% url 'log_out' %}>Log out</a>
    {% include "partials/messages.html" %}
{% endblock content %}



