{% extends 'Dashboards/../base.html' %}


{% block content %}

    {% include 'partials/greeting_content.html' %}
    <p>You have super-admin level privileges!</p>
    <p>Perform actions on administrator accounts below.</p>
    <p>From viewing all the administrator accounts, you can also edit and delete any said account.</p>
    <a class = "btn btn-primary" href={% url 'sign_up_administrator' %}>Create a new Administrator account</a>
    <a class = "btn btn-primary" href={% url 'view_all_administrators' %}>View all the Administrator accounts</a>
    <p></p>
    {% include 'Dashboards/admin_director_common_functionality.html' %}
    

{% endblock content %}
