{% extends 'Dashboards/../base.html' %}


{% block content %}

    {% include 'Dashboards/DashboardParts/greeting_content.html' %}
    <p>You have super-admin level privileges!</p>
    <p>Perform actions on administrator accounts below.</p>
    <p>From viewing all the administrator accounts, you can also edit and delete any said account.</p>
    <button type="button"><a href={% url 'sign_up_administrator' %}>Create a new Administrator account</a></button>
    <button type="button"><a href={% url 'view_all_administrators' %}>View all the Administrator accounts</a></button>
    <p>Other actions</p>

    <button type="button"><a href={% url 'log_out' %}>Log out</a></button>

    {% include 'partials/messages.html' %}




{% endblock content %}