{% extends 'Dashboards/../base.html' %}

{% block content %}

    <div class="row p-3">
        <div class="col-sm-3 card">
            {% include 'Dashboards/DashboardParts/greeting_content.html' %}
            <a class="btn btn-secondary my-1" href="{% url 'make_request' %}">Make a lesson request</a>
            <a class="btn btn-primary mb-3" href= {% url 'log_out' %}>Log out</a>
            <div>
                {{lessons_cost}}
            </div>
        </div>

        <div class="col-sm-9 card">
            {% include 'Dashboards/DashboardParts/requested_lessons_table.html' %}
        </div>

        <div class="col-sm-9 card">
            {% include 'Dashboards/DashboardParts/approved_lessons_table.html'  %}
        </div>


    </div>

{% endblock content %}


