{% extends 'Dashboards/../base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% include 'Dashboards/DashboardParts/greeting_content.html' %}
                <button><a href="{% url 'make_request' %}">Make a lesson request</a></button>
                <button type="button"><a href= {% url 'log_out' %}>Log out</a></button>
            </div>

            {% include 'Dashboards/DashboardParts/requested_lessons_table.html' %}
        </div>
    </div>
{% endblock content %}


