<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Welcome to the student dashboard</h1>
    <p>Hello, {{ user.first_name }} {{ user.last_name }}</p>
    <div>
        <table class="table">
            {% for lessons in lesson %}
            <!--Change the lessons later this is for testing-->
            <tr><td>{{lessons.availability}}</td></tr>
            {% endfor %}
        </table>
    </div>

    <button> <a href="{% url 'make_request' %}">Make a lesson request</a></button>
    <button type="button">Edit lesson request</a></button>
    <button type="button">Delete lesson request</a></button>
    <button type="button"><a href = {% url 'log_out' %}>Log out</a></button>
    
            </div>
            <div class="col-6">
                <h1>Your requested lessons</h1>
                <table class="table">
                    <thead>
                        <th> Further Information </th>
                        <th> Duration </th>
                        <th> Price </th>
                        <th> Status </th>
                    </thead>
                    {% for lesson in lessonsdata %}
                        <tr> 
                            <td>{{ lesson.further_info }}</td> <!--Add buttons for each row -->
                            <td>{{ lesson.duration }}</td>
                            <td>{{ lesson.price }}</td>
                            <td>{{ lesson.status_string }}</td>
                        </tr>
                </table>
                {% empty %}
                    You do not have any requested lessons
                {% endfor %}
                    
            </div>
        </div>
    </div>

</body>
</html>