<div>
    <h1>Approved lessons by Administrator</h1>
    <table class="table table-bordered card-body">
        <thead class="p-5">
        <tr>
            <th>Start date</th>
            <th>day of the week</th>
            <th>Duration</th>
            <th>Interval</th>
            <th>Teacher</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for lesson in approvedLessonData %}
            <tr>
                <td>{{ lesson.start_date }}</td>
                <td>{{ lesson.day_of_the_week }}</td>
                <td>{{ lesson.duration }}</td>
                <td>{{ lesson.interval }}</td>
                <td>{{ lesson.assigned_teacher }}</td>
                <td>${{ lesson.total_price }}</td>
                <td>
                    <form action="{% url 'return_invoice_for_approved' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="lesson_id" value={{ lesson.id }}>
                        <input class="btn btn-primary" type="submit" value = "Invoice">
                    </form>
                </td>
            </tr>
        {% empty %}
            No lessons approved yet
        {% endfor %}
        </tbody>
    </table>


</div>