<div>
    <h1>Approved lessons by Administrator</h1>
    <table class="table table-bordered card-body">
        <thead class="p-5">
        <tr>
            <th>Start date</th>
            <th>day of the week</th>
            <th>Duration</th>
            <th>Interval</th>
            <th>Teacher</th>
            <th>Total Price</th>
            <th>Payment remaining</th>

        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for item in data %}
            <tr>
                <td>{{ item.lesson.start_date }}</td>
                <td>{{ item.lesson.day_of_the_week }}</td>
                <td>{{ item.lesson.duration }}</td>
                <td>{{ item.lesson.interval }}</td>
                <td>{{ item.lesson.assigned_teacher }}</td>
                <td>${{ item.lesson.total_price }}</td>
                <td>${{ item.invoice.balance_due }}</td>

                <td>
                    <form action="{% url 'return_transaction_and_invoice_for_approved' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="lesson_id" value={{ item.lesson.id }}>
                        <input class="btn btn-primary" type="submit" value = "Transactions and invoices">
                    </form>
                </td>
                <td>
                    <form action="{% url 'make_payment_approved_lesson' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="lesson_id" value={{ item.lesson.id }}>
                        <input type="hidden" name="making_payment" value="False">

                        <input class="btn btn-primary" type="submit" value = "Make Payment">
                    </form>
                </td>
            </tr>
        {% empty %}
            No lessons approved yet
        {% endfor %}
        </tbody>
    </table>


</div>