<div>
    <h1>Approved lessons by Administrator</h1>
    <table class="table table-bordered card-body">
        <thead class="p-5">
        <tr>
            <th>Start date</th>
            <th>day of the week</th>
            <th>Duration</th>
            <th>Interval</th>
            <th>Teacher</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for lesson in approvedLessonData %}
            <tr>
                <td>{{ lesson.start_date }}</td>
                <td>{{ lesson.day_of_the_week }}</td>
                <td>{{ lesson.duration }}</td>
                <td>{{ lesson.interval }}</td>
                <td>{{ lesson.teacher }}</td>
                <td>${{ lesson.price }}</td>
                <td> <a class = "btn btn-primary" href="{% url 'return_invoice_for_approved' lesson.id %}">Invoice</a> </td>
            </tr>
        {% empty %}
            No lessons approved yet
        {% endfor %}
        </tbody>
    </table>


</div>