{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% block content %}
    <h1 class="my-3">Login to your user account</h1>
    {% include "partials/messages.html" %}

    <form action="{% url 'login_user' %}" method="post">

        <div>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" value="login">Log in</button>
            <a class="btn btn-secondary" href= {% url 'sign_up' %}>Sign up instead!</a>
        </div>

    </form>
{% endblock content %}